@model ReportSystem.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row h-100 pt-3 pb-3">
    <div class="col-6 shadow p-3 mb-5 bg-white rounded my-auto mx-auto" style="min-width: 250px">
        <form asp-action="Login" asp-controller="Account" method="post">
            @* header *@
            <div class="card-header bg-dark">
                <h1 class="d-flex justify-content-center text-white">Sign In</h1>
            </div>

            @*<div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">Email address</label>
            <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <small id="emailHelp" class="form-text text-muted">Enter your account email</small>
        </div>*@

            <span asp-validation-for="Name" class="text-danger float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Enter your name</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 110px" id="userName">Name</span>
                </div>
                <input type="text" class="form-control" asp-for="Name" aria-describedby="userName" placeholder="">
            </div>



            @*<div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <small class="form-text text-muted">Enter your account password</small>
        </div>*@

            <span asp-validation-for="Password" class="text-danger float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Enter password</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 110px" id="userPassword">Password</span>
                </div>
                <input type="password" class="form-control" asp-for="Password" aria-describedby="userPassword" placeholder="">
            </div>



            @*<div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" asp-for="RememberMe">Remember me</label>
                <small class="form-text text-muted">This option allows to store the user logged in. - this decrease the security.</small>
            </div>*@

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" asp-for="RememberMe">
                    </div>
                </div>
                <input readonly="readonly" value="Note, this option allows to store the user logged in. - this decrease the security." type="text" class="form-control font-italic h6" aria-label="Text input with checkbox">
            </div>




            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="PasswordRecovery">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>