@model ReportSystem.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row h-100 pt-3 pb-3">
    <div class="col-6 shadow p-3 mb-5 bg-white rounded my-auto mx-auto" style="min-width: 250px">
        <form asp-action="Login" asp-controller="Account" method="post">
            @* header *@
            <div class="card-header bg-dark">
                <h1 class="d-flex justify-content-center text-white">Sign In</h1>
            </div>

            <span asp-validation-for="Name" class="text-danger float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Enter your name</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 110px" id="userName">Name</span>
                </div>
                <input type="text" class="form-control" asp-for="Name" aria-describedby="userName" placeholder="">
            </div>

            <span asp-validation-for="Password" class="text-danger float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Enter password</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 110px" id="userPassword">Password</span>
                </div>
                <input type="password" class="form-control" asp-for="Password" aria-describedby="userPassword" placeholder="">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" asp-for="RememberMe">
                    </div>
                </div>
                <input readonly="readonly" value="Note, this option allows to store the user logged in. - this decrease the security." type="text" class="form-control font-italic h6" aria-label="Text input with checkbox">
            </div>

            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Sign In</button>
                <a asp-action="PasswordRecovery">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>