@model ReportSystem.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-3"></div>
    <div class="col-6 shadow p-3 mb-5 bg-white rounded">
        <form asp-action="Register" asp-controller="Account" method="post">
            <h1>Registration</h1>
            <div asp-validation-summary="All" class="text-secondary bg-light h9 font-italic"></div>

            <span asp-validation-for="Name" class="text-danger float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Enter your name</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="userName">Name</span>
                </div>
                <input type="text" class="form-control" asp-for="Name" aria-describedby="userName" placeholder="">
            </div>


            <span asp-validation-for="Email" class="text-muted float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Enter your email</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="userEmail">Email</span>
                </div>
                <input type="email" class="form-control" asp-for="Email" aria-describedby="userEmail" placeholder="">
            </div>

            <span asp-validation-for="Address" class="text-danger float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Enter your address</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="userAddress">Address</span>
                </div>
                <input type="text" class="form-control" asp-for="Address" aria-describedby="userAddress" placeholder="">
            </div>

            <span asp-validation-for="Password" class="text-danger float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Enter password</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="userPassword">Password</span>
                </div>
                <input type="password" class="form-control" asp-for="Password" aria-describedby="userPassword" placeholder="">
            </div>

            @*<div class="form-group">
                <label asp-for="ConfirmPassword">Password</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>*@

            <span asp-validation-for="ConfirmPassword" class="text-muted float-left font-italic"></span>
            <small class="form-text text-muted font-italic float-right">Confirm password</small>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="userConfirmPassword">Re-Password</span>
                </div>
                <input type="password" class="form-control" asp-for="ConfirmPassword" aria-describedby="userConfirmPassword" placeholder="">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-3"></div>
</div>

