.shadow-animation:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: white;
}

.shadow-animation-edit:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: #F39621;
}

.shadow-animation-delete:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: #FF5733;
}
