<!DOCTYPE html>
<html lang="en" class="w-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @{
        if (User.IsInRole(Role.Administrator))
        {
            @await Html.PartialAsync("_AdminHeader");
        }
        else if (User.IsInRole(Role.Investigator))
        {
            @await Html.PartialAsync("_InvestigatorHeader");
        }
        else if (User.IsInRole(Role.Reporter))
        {
            @await Html.PartialAsync("_ReporterHeader");
        }
        else
        {
            @await Html.PartialAsync("_Header");
        }
    }


    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ReportSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
