@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex pt-5 h-100 pb-5">
    <div class="col-1"></div>
    <div class="col-10 shadow bg-white rounded">
        <div class="table-responsive table-responsive-sm table-responsive-lg table-responsive-xl table-responsive-md">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr colspan="6" class="bg-secondary">
                    <img class="d-inline" src="https://img.icons8.com/bubbles/100/000000/couple-icloud.png"/>
                    <p class="h2 d-inline">USERS</p>
                    <a class="shadow-animation float-right" asp-action="Index" asp-controller="Admin">
                        <img src="https://img.icons8.com/bubbles/100/000000/long-arrow-left.png"/>
                    </a>
                </tr>
                <tr>
                    <th class="text-center" scope="col">Role</th>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Email</th>
                    <th class="text-center" scope="col">Address</th>
                    <th class="text-center" scope="col">Edit</th>
                    <th class="text-center" scope="col">Delete</th>
                </tr>
                </thead>
                <tbody style="max-height: 30px">
                   @foreach (var user in Model)
                   {
                       <tr>
                           <th class="text-center"><img src="https://img.icons8.com/bubbles/50/000000/add-file.png" /></th>
                           <td class="text-center">@user.UserName</td>
                           <td class="text-center">@user.Email</td>
                           <td class="text-center">@user.UserAddress</td>
                           <td class="shadow-animation text-center"><img src="https://img.icons8.com/bubbles/50/000000/edit-property.png" /></td>
                           <td class="shadow-animation text-center"><img src="https://img.icons8.com/bubbles/50/000000/delete-sign.png" /></td>
                       </tr>
                   }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-1"></div>
</div>