@model ReportSystem.Models.ApplicationUser

    <form asp-action="EditUser" asp-controller="Admin">
        <div class="form-group">
            <label for="userName">Name</label>
            <input name="UserName" type="text" class="form-control" id="userName" value="@Model.UserName">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="UserEmail" type="email" class="form-control" id="exampleInputEmail1" value="@Model.Email">
        </div>
        <input name="UserId" type="text" value="@Model.Id" hidden="">
        <button type="submit" class="btn btn-block shadow-animation-edit-user font-weight-bold">Submit</button>
    </form>